
body {
    margin: 0;
    font-family: 'Smythe', cursive;
} 


main {
    display: flex;
    justify-content: center;
    background: #fafafa;
    margin: 40px 0px;
}



.menu-container {
    width: 600px;
    height: 1161px;
    background: #fff;
    position: relative;
}

.menu-header {
    height: 167px;
    padding: 46px; 
    background-image: url("assets/hamburger.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

.menu-header .menu-header__text {
    color: #fff;
}



.menu-header .menu-header__text h1 {
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin-bottom: 19px;
}


.menu-header .menu-header__text p {
    font-size: 22.422px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.798px; 
}

.menu-items {
    padding: 60px 46px 0px;
}


.menu-items .menu-items__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
}



/*

.menu-items .menu-items__row::after {
    width: 504px;
    border-bottom: 1px solid #D2D2D2;
    border-bottom-width: 504px;
    margin-top: 51px;
    height: 1px;
}


*/

.menu-items .menu-items__row-left {
    display: flex;
    flex-direction: row;
    gap: 31px;
    align-items: center;

}


.menu-items .menu-items__row-left .menu-items__row-left__text {
    display: block;
    margin-bottom: 51px;
}


.menu-items .menu-items__row-left .menu-items__row-left__text h1,
.menu-items .menu-items__row-left .menu-items__row-left__text p {
    margin-bottom: 8px;
}


.menu-items__row-right .menu-items__row-right__circle {
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*** ORDER TOTATL SECTION ***/

.menu-items__order-summary {
    padding: 45px 46px 53px;
    font-family: Smythe;
    font-style: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;

}


.menu-items__order-summary h3 {
    text-align: center;
    color: #000;
    font-size: 28px;
    font-weight: 400;
    line-height: 16.8px;
    margin-bottom: 64px;
}

/*

.menu-items__order-summary .menu-items__order-summary--item-rows__wrapper .menu-items__order-summary--item-row {
    display: flex;
    flex-direction: column;
}
*/

.menu-items__order-summary .menu-items__order-summary--item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
}

.menu-items__order-summary .menu-items__order-summary--item-row .menu-items__order-summary--item-row__name {
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
}

.menu-items__order-summary .menu-items__order-summary--item-row .menu-items__order-summary--item-row__name p {
    color: #000;
    font-family: Smythe;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 60% */
}

/*Removing default button style */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.menu-items__order-summary .menu-items__order-summary--item-row .menu-items__order-summary--item-row__name button {
    color: #BBB;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px; /* 200% */
}



.menu-items__order-summary .menu-items__order-summary--item-row .menu-items__order-summary--item-row__price {
    color: #000;
    text-align: right;
    font-family: Smythe;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}


.menu-items__order-summary .menu-items__order-summary-hz-line {
    width: 504px;
    border: solid 1px #393333;
    margin-top: 9px;
}


.menu-items__order-summary .menu-items__order-summary--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 175px;
    margin-top: 53px;
    border-radius: 3px;
    background-color: #16DB99;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-family: Verdana;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}



.payment-modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 47px 25px 30px;
}


.payment-modal__container h1 {
    color: #000;
    font-family: Verdana;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31.119px; /* 129.664% */
}

.payment-modal__container form input {
    width: 100%;
    margin-bottom: 23px;
}


.payment-modal__container form button {
    margin-top: 23px;
}



